* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: black;
}

li {
  list-style: none;
}

.topnav {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 600;
}

.topnav a {
  position: relative;
  display: block;
  font-size: 2vw;
  padding: 2.5vw 1.3vw 2vw 1.6vw;
  text-decoration: none;
  color: black;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.top-left {
  position: relative;
  display: block;
  padding: 0;
  left: -8vw;
  top: 0.5vw;
  text-decoration: none;
  font-size: 4.5vw;
  font-weight: 600;
  color: black;
}

h2 {
  position: relative;
  display: block;
  top: 2vh;
  width: 100%;
  justify-content: center;
  font-size: 3.7vw;
}

.bioPhoto {
  position: relative;
  display: block;
  top: 9vw;
  height: auto;
  width: 37vw;
  float: left;
  margin-left: 3vw;
}

.photoBy {
  position: absolute;
  font-size: 1vw;
  color: white;
  bottom: 1vw;
  right: 1vw;
}

img {
  position: relative;
  width: 100%;
  height: auto;
}

.about {
  position: relative;
  display: block;
  top: 2vw;
  line-height: 1.5;
  width: 45%;
  float: right;
  text-align: justify;
  padding-left: 0;
  padding-right: 7vw;
  margin-bottom: 1.4vw;
  font-weight: 600;
  font-size: 1.4vw;
  letter-spacing: 1.6px;
}

.footer {
  margin-top: auto;
  font-size: 1.2vw;
  background-color: white;
  width: 100%;
  white-space: nowrap;
  padding-top: 2vw;
  text-align: center;
}

@media screen and (max-width: 600px) {
  /*Menu icon */
  .container {
    position: absolute;
    display: block;
    right: 0.5rem;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
  }

  /*navbar*/
  .topnav a:not(.top-left) {
    display: none;
  }

  .topnav a.top-left {
    position: relative;
    left: -30vw;
    top: 0.5rem;
    font-size: 12vw;
  }

  h2 {
    position: relative;
    display: block;
    text-align: center;
    margin-left: 0;
    font-size: 10vw;
    top: -74vw;
  }

  .bioPhoto {
    display: block;
    margin: 0 auto;
    top: 21vw;
    float: none;
    width: 50vw;
  }

  /*about*/
  .about {
    position: relative;
    display: block;
    float: none;
    width: auto;
    text-align: center;
    top: 9vw;
    padding: 0 2vw 2vw 2vw;
    font-size: 3.5vw;
    line-height: 6vw;
  }

  /*footer*/
  .footer {
    padding-top: 9vw;
    margin-top: auto;
    bottom: 0;
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    display: block;
  }
  .topnav.responsive .container {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    position: relative;
    display: block;
    text-align: center;
    font-size: 8vw;
  }

  .topnav.responsive #hidePage {
    display: none;
  }

  .topnav.responsive a.top-left {
    left: 0;
    font-size: 12vw;
  }
}
